:root{
    --main: #E8E5E1;
    --sec: #333;
    --acc: #FF7300;
    --bg: #BAB0A6;
    --fm: "Jost", sans-serif;
    --modm1:#FFF500;
    --mods1:black;
    --modt1:white;
    --fm1:"Bree Serif", serif;
    --modbg1: #262626;
    --modm2:#f4fcfa;
    --mods2:#000000;
    --modacc2:#FDC334;
    --modtrd2:#FD6534;
    --modfrd2:#4DBDBF;
    --modfive2:#5C8D67;
    --modbg2:#ffbfb4;
    --fm2:"Protest Riot", sans-serif;
    --modm3:#000000;
    --mods3:rgb(255, 255, 255);
    --fm3:"Protest Revolution", sans-serif;
    --fs3:"Comfortaa", sans-serif;
}

body{
    background: var(--main);
    
}
/* navbar */
.navbar{
    opacity: 0;
    transition: 0.5s;
    height: 15vh;
}

.in-page .navbar{
    opacity: 1;
}

.logo{
    width: 150px;
}

.menu{
    font-size: 50px;
    color: var(--sec);
}

.menu-contain{
    position: absolute;
    top: 0;
    left: 20px;
    position: fixed;
    top: 0;
    opacity: 0;
    transition: 0.5s;
    z-index: 999;
}

.in-page.menu-contain{
    opacity: 1;
}

.menu-btn,.menu-btn:focus,.menu-btn:active{
    border: none;
    background: transparent;
}

.menu-canvas{
    margin-top: 65px;
    margin-right: 65px;
    width: 50vw !important;
    height: 80vh;
    background: var(--sec);
}

.logo-canvas{
    opacity: 0;
    transition: 0.5s;
    transition-delay: 0.5s;
    width: 400px;
}

.in-page.logo-canvas{
    opacity: 1;
}

.btn-close-canvas{
    color: var(--main);
    position: absolute;
    top: 0px;
    right: 10px;
    background:none;
    font-size: 30px;
}

.btn-close-canvas:active,.btn-close-canvas:focus{
    border: none;
    box-shadow: none;
    background: none;
}

.btn-close-canvas:hover{
    color: var(--main);
}

.link-list-item,.link-list-item > a{
    list-style-type: none;
    color: var(--main);
    font-family: var(--fm);
    letter-spacing: 2px;
    font-size: 25px;
    text-decoration: none;
}

.foot-canvas{
    opacity: 0;
    transition: 0.5s;
    transition-delay: 1s;
    transform: translateX(50px);
}

.in-page.foot-canvas{
    opacity: 1;
    transform: translateX(0);
}

.anim-link-canv{
    opacity: 0;
    transition: 0.5s;
    transition-delay: 0.5s;
    transform: translateX(-50px);
}

.in-page.anim-link-canv{
    opacity: 1;
    transform: translateX(0px);
}

.canvas-title{
    opacity: 0;
    transition: 0.5s;
    transition-delay: 0.5s;
    font-family: var(--fm);
    color: var(--main);
    letter-spacing: 2px;
    font-size: 30px;
}

.in-page.canvas-title{
    opacity: 1;
}

.label{
    font-family: var(--fm);
    letter-spacing: 2px;
    color: var(--main);
}

.input{
    background-color: transparent;
    border: none;
    border-bottom: solid 2px var(--main);
    width: 120px;
    color: var(--main);
}

.input-email{
    background-color: transparent;
    border: none;
    border-bottom: solid 2px var(--main);
    width: 250px;
    color: var(--main);
}

.input-email:focus,.input:focus{
    border-bottom: solid 2px var(--main);;
    box-shadow: none!important;
    outline: 0;
}

.submit-btn{
    background: transparent;
    font-family: var(--fm);
    border: solid 2px var(--acc);
    border-radius: 50%;
    color: var(--acc);
    font-size: 20px;
    padding: 2px 6px;
}

.social-canvas{
    opacity: 0;
    transition: 0.5s;
    transition-delay: 0.5s;
    font-size: 40px;
    color: var(--main);
}

.in-page.social-canvas{
    opacity: 1;
}

/* home */

.header-home{
    height: 155vh;
    background:url(media/motivologo.webp) no-repeat;
    background-size: 100% 100%;
}

.sec1{
    background: linear-gradient(to bottom, var(--bg), var(--main));
}

.sec2{
    height: 100vh;
    background: url(media/motivo4.webp) no-repeat;
    background-size: 100% 100%;
    background-position: 0px 0px;
}



.scuro{
    background: var(--bg);
    height: 100%;
}

.btn-link,.btn-link:hover,.btn-link:active,.btn-link:focus{
    font-family: var(--fm);
    color: var(--acc);
    text-decoration: none;
    background: transparent;
    backdrop-filter: blur(3px);
    border: 2px var(--acc) solid;
    border-radius: 50%;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline 2px var(--acc);
}

.pres{
    opacity: 0;
    width: 800px;
    transition: 0.5s;
    transition-delay: 0.5s;
}

.in-page.pres{
    opacity: 1;
    -webkit-animation:bounce-in 1s ease 0s 1 normal;
    -moz-animation:bounce-in 1s ease 0s 1 normal;
    -ms-animation:bounce-in 1s ease 0s 1 normal;
    animation:bounce-in 1s ease 0s 1 normal;
}

@-webkit-keyframes bounce-in {
    0%{ opacity: 0; -webkit-transform: scale(.3); transform: scale(.3); }
    50%{ opacity: 1; -webkit-transform: scale(1.0); transform: scale(1.0); }
    70%{ -webkit-transform: scale(0.9); transform: scale(0.9); }
    100%{ -webkit-transform: scale(1); transform: scale(1); }
    }
    
    @keyframes bounce-in {
    0%{ opacity: 0; transform: scale(.3); }
    50%{ opacity: 1; transform: scale(1.0); }
    70%{ transform: scale(0.9); }
    100%{ transform: scale(1); }
    }

.mockup-display{
    opacity: 0;
    transition: 0.5s;
    transition-delay: 0.8s;
    width: 350px;
    height: 310px;
    z-index: 999;
}

.mockup{
    position: absolute;
    top: 15px;
    opacity: 0;
    transition: 0.5s;
    transition-delay: 0.8s;
    width: 340px;
    height: 190px;
    object-position: 2px 0px;
}

.in-page .mockup,.in-page .mockup-display{
    opacity: 1;
}

.arrow-portfolio{
    opacity: 0;
    transition: 0.5s;
    transition-delay: 1s;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 20%;
    right: -100px;
}

.in-page .arrow-portfolio{
    opacity: 1;
}

.portfolio-link{
    opacity: 0;
    transition: 0.5s;
    transition-delay: 1s;
    color: var(--acc);
    position: absolute;
    top: 40%;
    right: -166px;
    font-size: 25px;
    font-family: var(--fm);
    letter-spacing: 2px;
}

.in-page .portfolio-link{
    opacity: 1;
}

.tit1{
    opacity: 0;
    transition: 0.5s;
    transition-delay: 0.5s;
    transform: translateY(50px);
    font-family: var(--fm);
    color: var(--sec);
    letter-spacing: 1px;
    font-size: 40px;
}

.tit-home{
    opacity: 0;
    transition: 0.5s;
    transition-delay: 0.5s;
    font-family: var(--fm);
    color: var(--sec);
    letter-spacing: 1px;
    font-size: 50px;
}

.in-page.tit-home{
    opacity: 1;
}

.p1{
    opacity: 0;
    transition: 0.5s;
    transition-delay: 0.5s;
    transform: translateY(50px);
    font-family: var(--fm);
    color: var(--sec);
    letter-spacing: 2px;
    font-size: 20px;
}

.in-page.tit1,.in-page.p1{
    opacity: 1;
    transform: translateY(0);
}

.profilo{
    width: 400px;
    border-bottom: var(--acc) solid 3px;
}

.who-link{
    opacity: 0;
    transition: 0.5s;
    transition-delay: 0.8s;
    position: absolute;
    bottom: 20px;
    left: 145px;
}

.in-page .who-link{
    opacity: 1;
}

.bg-loghi{
    background:#e8e5e191;
    width: 70px;
    height: 70px;
    border-radius: 10px;
    border: solid 1px var(--bg);
    box-shadow: #9b9389be 0px 0px 7px 1px;
}

.grafic-web{
    opacity: 0;
    transition: 0.5s;
    transition-delay: 0.5s;
    width: 500px;
    box-shadow: #7c766dbe 0px 0px 20px 4px;
}

.in-page.grafic-web{
    opacity: 1;
    -webkit-animation:bounce-in 1s ease 0s 1 normal;
    -moz-animation:bounce-in 1s ease 0s 1 normal;
    -ms-animation:bounce-in 1s ease 0s 1 normal;
    animation:bounce-in 1s ease 0s 1 normal;
}

.grafic-web1{
    width: 400px;
    box-shadow: #7c766dbe 0px 0px 20px 4px;
}

.prof-anim{
    opacity: 0;
    transition: 0.5s;
    transition-delay: 0.5s;
}

.in-page.prof-anim{
    opacity: 1;
    -webkit-animation:bounce-in 1s ease 0s 1 normal;
    -moz-animation:bounce-in 1s ease 0s 1 normal;
    -ms-animation:bounce-in 1s ease 0s 1 normal;
    animation:bounce-in 1s ease 0s 1 normal;
}

/* footer */

footer{
    background: var(--bg);
}

ul{
    padding: 0;
}

.link-footer-item,.link-footer-item > a{
    list-style-type: none;
    color: var(--sec);
    font-family: var(--fm);
    letter-spacing: 2px;
    font-size: 25px;
    text-decoration: none;
}

.link-footer-item2{
    list-style-type: none;
    color: var(--sec);
    font-family: var(--fm);
    letter-spacing: 2px;
    font-size: 20px;
    text-decoration: none;
}

.social-canvas-footer{
    font-size: 40px;
    color: var(--sec);
}

.footer-tit{
    font-family: var(--fm);
    font-weight: bold;
    letter-spacing: 2px;
    color: var(--sec);
}

.firma-foot{
    font-family: var(--fm);
    color: var(--sec);
    letter-spacing: 2px;
}


/* who */


.header-who{
    height: 120vh;
    background: url(media/motivo3.webp) no-repeat;
    background-size: contain;
    background-position: bottom;
}

.tit-who{
    opacity: 0;
    transition: 0.5s;
    transform: translateY(50px);
    font-family: var(--fm);
    color: var(--sec);
    letter-spacing: 2px;
}

.grassetto{
    color: var(--acc);
    font-weight: bold;
}

.p-who{
    opacity: 0;
    transition: 0.5s;
    transform: translateY(50px);
    font-family: var(--fm);
    color: var(--sec);
    letter-spacing: 2px;
    font-size: 20px;
}

.in-page.tit-who,.in-page.p-who{
    opacity: 1;
    transform: translateY(0);
}

.sec-who1{
    background: var(--bg);
}

.prof-who{
    opacity: 0;
    transition: 0.5s;
    transition-delay: 0.5s;
}

.in-page.prof-who{
    opacity: 1;
    -webkit-animation:bounce-in 1s ease 0s 1 normal;
    -moz-animation:bounce-in 1s ease 0s 1 normal;
    -ms-animation:bounce-in 1s ease 0s 1 normal;
    animation:bounce-in 1s ease 0s 1 normal;
}


/* portfolio */

.tit-portfolio{
    opacity: 0;
    transition: 0.5s;
    transform: translateY(100px);
    font-family: var(--fm);
    color: var(--sec);
    letter-spacing: 2px;
}

.tms-portfolio{
    font-size: 50px;
}

.p-portfolio{
    opacity: 0;
    transition: 0.5s;
    transform: translateY(50px);
    font-family: var(--fm);
    color: var(--sec);
    letter-spacing: 2px;
    font-size: 20px;
}

.in-page.tit-portfolio,.in-page.p-portfolio{
    opacity: 1;
    transform: translateY(0);
}

.btn-modal,.btn-modal:focus{
    background: transparent;
    border: none;
}

.a{
    width: 400px;
    height: 400px;
    background-color: var(--sec);
}

.tm1{
    width: 90%;
    box-shadow: #333333a8 0px 0px 7px 3px;
}

.header-portfolio{
    height: 100vh;
    background: url(media/motivo6.webp) no-repeat;
    background-size: cover;
}

.modal-header{
    background: var(--sec);
}

.btn-close-modal,.btn-close-modal:focus{
    color: var(--main)!important;
    background: transparent;
    box-shadow: none;
    font-size: 20px;
}

.portfolio-graphic{
    opacity: 0;
    transition: 0.5s;
    transition-delay: 0.5s;
    width: 550px;
    height: 400px;
    object-fit: cover;
}

.in-page.portfolio-graphic{
    opacity: 1;
    -webkit-animation:bounce-in 1s ease 0s 1 normal;
    -moz-animation:bounce-in 1s ease 0s 1 normal;
    -ms-animation:bounce-in 1s ease 0s 1 normal;
    animation:bounce-in 1s ease 0s 1 normal;
}

.anim-tm1{
    opacity: 0;
    transition: 0.5s;
    transition-delay: 0.5s;
}

.in-page.anim-tm1{
    opacity: 1;
    -webkit-animation:bounce-in 1s ease 0s 1 normal;
    -moz-animation:bounce-in 1s ease 0s 1 normal;
    -ms-animation:bounce-in 1s ease 0s 1 normal;
    animation:bounce-in 1s ease 0s 1 normal;
}

.anim-tm2{
    opacity: 0;
    transition: 0.5s;
    transition-delay: 0.5s;
}

.in-page.anim-tm2{
    opacity: 1;
    -webkit-animation:flipiny 1s ease 0.5s 1 normal;
    -moz-animation:flipiny 1s ease 0.5s 1 normal;
    -ms-animation:flipiny 1s ease 0.5s 1 normal;
    animation:flipiny 1s ease 0.5s 1 normal;
}

.anim-tm3{
    opacity: 0;
    transition: 0.5s;
    transition-delay: 0.5s;
}

.in-page.anim-tm3{
    opacity: 1;
    -webkit-animation:bounce-in 1s ease 0s 1 normal;
    -moz-animation:bounce-in 1s ease 0s 1 normal;
    -ms-animation:bounce-in 1s ease 0s 1 normal;
    animation:bounce-in 1s ease 0s 1 normal;
}

/* modal 1 */

.nav-mod1{
    height: 10vh;
}

.bgmod1{
    background: var(--mods1);
}

.sec-h-mod1{
    height: 70vh;
}

.header-mod1{
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.781),rgba(0, 0, 0, 0.555),transparent,rgba(0, 0, 0, 0.555),rgba(0, 0, 0, 0.788)),url(/modal1/header.webp) no-repeat;
    background-size: cover;
    background-position: center;
    height: 80vh;
}

.menu-mod1{
    opacity: 0;
    transition: 0.5s;
    transition-delay: 0.5s;
    color: var(--modm1);
    padding-right: 30px;
}

.logo-mod1{
    opacity: 0;
    transition: 0.5s;
    transition-delay: 0.5s;
    padding-left: 30px;
    color: var(--modm1);
    font-size: 40px;
    font-weight: bold;
    font-family: var(--fm1);
    letter-spacing: 1px;
}

.in-page.menu-mod1,.in-page.logo-mod1{
    opacity: 1;
}

.ev-mod1{
    color: var(--modm1);
    font-weight: bold;
}

.tit-mod1{
    opacity: 0;
    transition: 0.5s;
    transition-delay: 0.5s;
    transform: translateX(-100px);
    color: var(--modt1);
    font-size: 50px;
    font-family: var(--fm1);
    letter-spacing: 1px;
}

.btn-header-mod1{
    opacity: 0;
    transition: 0.5s;
    transition-delay: 0.5s;
    transform: translateX(-100px);
    background-color: var(--modm1);
    color: var(--mods1);
    font-weight: bold;
    font-family: var(--fm1);
    letter-spacing: 1px;
    border: none;
    box-shadow: #7e7a095d 0px 0px 5px 3px;
}

.in-page.tit-mod1,.in-page.btn-header-mod1{
    opacity: 1;
    transform: translateX(0);
}

.sec1-mod1{
    background: var(--mods1);
}

.un-tit-modal1{
    opacity: 0;
    transition: 0.5s;
    transition-delay: 0.5s;
    transform: translateY(100px);
    font-weight: bold;
    color: var(--modbg1);
    font-family: var(--fm1);
    letter-spacing: 1px;
    font-size: 80px;
}

.tit-modal1{
    opacity: 0;
    transition: 0.5s;
    transition-delay: 1s;
    transform: translateY(-100px);
    font-weight: bold;
    color: var(--modt1);
    font-family: var(--fm1);
    letter-spacing: 1px;
    font-size: 70px;
    position: absolute;
    top: 40px;
    right: 225px;
}

.in-page.un-tit-modal1,.in-page.tit-modal1{
    opacity: 1;
    transform: translateY(0);
}

.sec1-img-mod1{
    perspective: 1000;
    opacity: 0;
    transition: 0.5s;
    transition-delay: 0.5s;
    transform: scale(0.5);
    width: 500px;
    height: 500px;
    background: linear-gradient(to bottom,transparent,rgba(255, 255, 255, 0.080),transparent,rgba(255, 255, 255, 0.080),transparent),url(/modal1/sec1.webp);
    background-size: cover;
    box-shadow: #7e7a095d 0px 0px 20px 5px;
   
}

.in-page.sec1-img-mod1,.in-page.step1-mod1{
    opacity: 1;
    transform: scale(1);
}

.step1-mod1{
    perspective: 1000;
    opacity: 0;
    transition: 0.5s;
    transition-delay: 0.5s;
    transform: scale(0.5);
    color: var(--modm1);
    font-family: var(--fm1);
    font-size: 200px;
    font-weight: bold;
    position: absolute;
    bottom: -100px;
    right: -340px;
    rotate: -10deg;
    z-index: 90;
    letter-spacing: 4px;
}

.p-mod1{
    opacity: 0;
    transition: 0.5s;
    transition-delay: 0.5s;
    transform: translateY(-100px);
    font-family: var(--fm1);
    letter-spacing: 1px;
    color: var(--modt1);
    font-size: 20px;
    z-index: 99;
}

.in-page.p-mod1{
    opacity: 1;
    transform: translateY(0);
}

.sec2-mod1{
    background: linear-gradient(10deg, var(--mods1)33%, var(--modbg1)33%, var(--modbg1)48%,var(--modbg1)48%,var(--modbg1)66%,var(--mods1)66%);
}

.activity-mod1{
    width: 400px;
    height: 300px;
    background: linear-gradient(to bottom,transparent,rgba(255, 255, 255, 0.080),transparent,rgba(255, 255, 255, 0.080),transparent),url(/modal1/coach.webp);
    background-size: cover;
    box-shadow: #7e7a095d 0px 0px 5px 2px;
    border: 1px solid var(--modm1);
}

.activity1-mod1{
    width: 400px;
    height: 300px;
    background: linear-gradient(to bottom,transparent,rgba(255, 255, 255, 0.080),transparent,rgba(255, 255, 255, 0.080),transparent),url(/modal1/coach1.webp);
    background-size: cover;
    box-shadow: #7e7a095d 0px 0px 5px 2px;
    border: 1px solid var(--modm1);
}

.activity2-mod1{
    width: 800px;
    height: 250px;
    background: linear-gradient(to bottom,transparent,rgba(255, 255, 255, 0.080),transparent,rgba(255, 255, 255, 0.080),transparent),url(/modal1/coach2.webp) no-repeat;
    background-size: cover;
    box-shadow: #7e7a095d 0px 0px 5px 2px;
    border: 1px solid var(--modm1);
    background-position:bottom;
}

.fot-mod1{
    height: 25vh;
    background-color: var(--modm1);
}

.link-mod1{
    list-style-type: none;
    font-family: var(--fm1);
    font-size: 20px;
    font-weight: bold;
}

.social-mod1{
    color: var(--mods1);
    font-size: 30px;
}

.firma-foot-mod1{
    font-family: var(--fm1);
    color: var(--sec);
    letter-spacing: 2px;
}

.anim-mod1{
    perspective: 1000;
    opacity: 0;
    transition: 0.5s;
    transition-delay: 0.5s;
    transform: scale(0.5);
}

.in-page.anim-mod1{
    opacity: 1;
    transform: scale(1);
}

/* modal 2 */

.nav-mod2{
    opacity: 0;
    transition: 0.5s;
    transition-delay: 0.5s;
    background: var(--modm2);
    height: 70vh;
    width: 100px;
    position: fixed;
    z-index: 99;
}

.nav1-mod2{
    opacity: 0;
    transition: 0.5s;
    transition-delay: 0.5s;
    height: 10vh;
    width: 100%;
    background: var(--modm2);
    position: absolute;
    top: 0;
    z-index: 98;
}

.in-page.nav-mod2,.in-page.nav1-mod2{
    opacity: 1;
}

.bodym2{
    background: var(--modm2);
}
.logo-mod2{
    width: 50px;
}

.social-mod2{
    font-size: 40px;
}

.tit-mod2{
    font-size: 85px;
    color: transparent;
    font-weight: bold;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: var(--modm2);
    letter-spacing: 15px;
    z-index: 999;
    font-family: var(--fm2);
}

.header-mod2{
    height: 87vh;
    background: url(/modal2/header-mod2.webp)no-repeat,url(/modal2/header1-mod2.webp)no-repeat,url(/modal2/header1-mod2.webp)no-repeat;
    background-size: contain;
    background-position: center,left,right;
    background-attachment: fixed;
}

.ev1-mod2{
    opacity: 0;
    transition: 0.5s;
    transition-delay: 0.5s;
    font-size: 85px;
    background:var(--modm2);
    padding-left: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 100px;
    -webkit-text-stroke-color: var(--mods2);
    letter-spacing: 15px;
}

.in-page.ev1-mod2{
    opacity: 1;
}

.btn-mod2{
    opacity: 0;
    transition: 0.5s;
    transition-delay: 1s;
    border: none;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    font-family: var(--fm2);
    font-weight: bold;
    color:transparent;
    font-size: 50px;
    background: linear-gradient(45deg,var(--modm2)40%,var(--modm2)40%);
    border: var(--mods2) solid 3px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: var(--mods2);
    position: absolute;
    bottom: -85px;
}

.in-page.btn-mod2{
    opacity: 1;
    -webkit-animation:rotate 1s ease 1s 1 normal;
    -moz-animation:rotate 1s ease 1s 1 normal;
    -ms-animation:rotate 1s ease 1s 1 normal;
    animation:rotate 1s ease 1s 1 normal;
}

@-webkit-keyframes rotate {
    100%{ -webkit-transform: rotate(360deg); transform: rotate(360deg); }
    }
    @keyframes rotate {
    100%{ transform: rotate(360deg); }
    }

.sec1-mod2{
    opacity: 0;
    transition: 0.5s;
    transition-delay: 0.5s;
    height: 100vh;
    background: url(/modal2/3.webp)no-repeat;
    background-size: 70% 200%;
    background-position: 325px -140px;
    background-attachment: fixed;
}

.in-page.sec1-mod2{
    opacity: 1;
}

.collage1-mod2{
    opacity: 0;
    transition: 0.5s;
    transition-delay: 1s;
    background: var(--modtrd2);
    width: 350px;
    height: 350px;
    position: absolute;
    bottom: 130px;
    left: -150px;
    z-index: 89;
    border:solid 1px var(--modm2);
}

.in-page.collage1-mod2{
    opacity: 1;
    -webkit-animation:flipiny 1s ease 1s 1 normal;
    -moz-animation:flipiny 1s ease 1s 1 normal;
    -ms-animation:flipiny 1s ease 1s 1 normal;
    animation:flipiny 1s ease 1s 1 normal;
}

.h-mod2{
    color: var(--modm2);
    font-family: var(--fm2);
}

.p-mod2{
    color: var(--modm2);
    font-family: var(--fm2);
}

.sec2-mod2{
    height: 100vh;
}

.img-sec2-mod2{
    opacity: 0;
    transition: 0.5s;
    transition-delay: 0.5s;
    background: url(/modal2/0.webp)no-repeat;
    background-size: 70% 200%;
    background-position: 0px -200px;
    background-attachment: fixed;
}

.in-page.img-sec2-mod2{
    opacity: 1;
}

.img-sec3-mod2{
    opacity: 0;
    transition: 0.5s;
    transition-delay: 0.5s;
    background: url(/modal2/2.webp)no-repeat;
    background-size: 80% 230%;
    background-position: center;
    background-attachment: fixed;
}

.in-page.img-sec3-mod2{
    opacity: 1;
}

.collage2-mod2{
    opacity: 0;
    transition: 0.5s;
    transition-delay: 1s;
    background: var(--modfive2);
    width: 350px;
    height: 500px;
    position: absolute;
    bottom: 70px;
    right: -200px;
    z-index: 90;
    border:solid 1px var(--modm2);
}

.in-page.collage2-mod2{
    opacity: 1;
    -webkit-animation:flipiny 1s ease 1s 1 normal;
    -moz-animation:flipiny 1s ease 1s 1 normal;
    -ms-animation:flipiny 1s ease 1s 1 normal;
    animation:flipiny 1s ease 1s 1 normal;
}

.collage3-mod2{
    opacity: 0;
    transition: 0.5s;
    transition-delay: 1s;
    background: var(--modacc2);
    width: 250px;
    height: 450px;
    position: absolute;
    bottom: 100px;
    left: -50px;
    z-index: 90;
    border:solid 1px var(--modm2);
}

.in-page.collage3-mod2{
    opacity: 1;
    -webkit-animation:flipiny 1s ease 1s 1 normal;
    -moz-animation:flipiny 1s ease 1s 1 normal;
    -ms-animation:flipiny 1s ease 1s 1 normal;
    animation:flipiny 1s ease 1s 1 normal;
}

.fot-mod2{
    height: 25vh;
}

.link-mod2{
    list-style-type: none;
    font-family: var(--fm2);
    font-size: 20px;
    font-weight: bold;
}

.social-mod2{
    color: var(--mods2);
    font-size: 30px;
}

.firma-foot-mod2{
    font-family: var(--fm2);
    color: var(--mods2);
    letter-spacing: 2px;
}

@-webkit-keyframes flipiny {
    0%{ opacity: 0; -webkit-transform: perspective(400px) rotateY(0deg); transform: perspective(400px) rotateY(90deg); }
    40%{ -webkit-transform: perspective(400px) rotateY(0deg); transform: perspective(400px) rotateY(-10deg); }
    70%{ -webkit-transform: perspective(400px) rotateY(0deg); transform: perspective(400px) rotateY(10deg); }
    100%{ opacity: 1; -webkit-transform: perspective(400px) rotateY(0deg); transform: perspective(400px) rotateY(0deg); }
    }
    
    @keyframes flipiny {
    0%{ opacity: 0; transform: perspective(400px) rotateY(90deg); }
    40%{ transform: perspective(400px) rotateY(-10deg); }
    70%{ transform: perspective(400px) rotateY(10deg); }
    100%{ opacity: 1; transform: perspective(400px) rotateY(0deg); }
    }

/*  modal 3 */

.body-mod3{
    background: var(--mods3);
}

.header-mod3{
    height: 100vh;
}

.nav-mod3{
    opacity: 0;
    transition: 0.5s;
    transition-delay: 0.5s;
    height: 10vh;
    background: var(--mods3);
}

.in-page.nav-mod3{
    opacity: 1;
}

.logo-mod3{
    font-size: 35px;
    font-family: var(--fm3);
    transform: rotate(-10deg);
}

.link-mod3{
    font-family: var(--fs3);
    font-size: 20px;
}

.head1-mod3{
    background: linear-gradient(to bottom,rgba(0, 0, 0, 0.200),rgba(0, 0, 0, 0.200)),url(/modal3/header1-mod3.webp) no-repeat;
    background-size: cover;
    background-position: 0px -300px;
    width: 100%;
    height: 50vh;
    border: solid 1px var(--mods3);
}

.head2-mod3{
    background: linear-gradient(to bottom,rgba(0, 0, 0, 0.200),rgba(0, 0, 0, 0.200)),url(/modal3/header2-mod3.webp) no-repeat;
    background-size: cover;
    background-position: center;
    width: 50%;
    height: 50vh;
    border: solid 1px var(--mods3);
}

.head3-mod3{
    background: linear-gradient(to bottom,rgba(0, 0, 0, 0.200),rgba(0, 0, 0, 0.200)),url(/modal3/header3-mod3.webp) no-repeat;
    background-size: cover;
    background-position: center;
    width: 50%;
    height: 50vh;
    border: solid 1px var(--mods3);
}

.head-txt-mod3{
    opacity: 0;
    transition: 0.5s;
    transition-delay: 0.5s;
    font-family: var(--fm3);
    transform: rotate(-5deg);
    font-size: 45px;
    color: var(--mods3);
}

.in-page.head-txt-mod3{
    opacity: 1;
}

.btn-mod3{
    opacity: 0;
    transition: 0.5s;
    transition-delay: 0.5s;
    border: none;
    padding: 10px;
    font-size: 25px;
    font-family: var(--fs3);
}

.in-page.btn-mod3{
    opacity: 1;
}

.btn1-mod3{
    opacity: 0;
    transition: 0.5s;
    transition-delay: 0.5s;
    transform: translateY(50px);
    position: absolute;
    bottom: 0;
    border: solid 1px var(--mods3);
    padding: 10px;
    font-size: 25px;
    font-family: var(--fs3);
    background: var(--modm3);
    color: var(--mods3);
    z-index: 99;
}

.in-page.btn1-mod3{
    opacity: 1;
    transform: translateY(0);
}


.h-mod3{
    opacity: 0;
    transition: 0.5s;
    transition-delay: 0.5s;
    transform: translateY(-50px);
    font-family: var(--fm3);
    font-size: 45px;
    color: var(--modm3);
}

.in-page.h-mod3{
    opacity: 1;
    transform: translateY(0);
}

.carousel{
    opacity: 0;
    transition: 0.5s;
    transition-delay: 0.2s;
    width: 90%;
    height: 400px;
    border: solid 2px var(--modm3);
    border-radius: 50%;
}

.in-page.carousel{
    opacity: 1;
    -webkit-animation:elastic 1s ease-out 0.2s 1 normal;
    -moz-animation:elastic 1s ease-out 0.2s 1 normal;
    -ms-animation:elastic 1s ease-out 0.2s 1 normal;
    animation:elastic 1s ease-out 0.2s 1 normal;
}

@-webkit-keyframes elastic {
    0%{ -webkit-transform: scale(1); transform: scale(1); }
    30%{ -webkit-transform: scaleX(1.25) scaleY(0.75); transform: scaleX(1.25) scaleY(0.75); }
    40%{ -webkit-transform: scaleX(0.75) scaleY(1.25); transform: scaleX(0.75) scaleY(1.25); }
    60%{ -webkit-transform: scaleX(1.15) scaleY(0.85); transform: scaleX(1.15) scaleY(0.85); }
    100%{ -webkit-transform: scale(1); transform: scale(1); }
    }
    
    @keyframes elastic {
    0%{ -ms-transform: scale(1); transform: scale(1); }
    30%{ -ms-transform: scaleX(1.25) scaleY(0.75); transform: scaleX(1.25) scaleY(0.75); }
    40%{ -ms-transform: scaleX(0.75) scaleY(1.25); transform: scaleX(0.75) scaleY(1.25); }
    60%{ -ms-transform: scaleX(1.15) scaleY(0.85); transform: scaleX(1.15) scaleY(0.85); }
    100%{ -ms-transform: scale(1); transform: scale(1); }
    }

.carousel-inner{
    width: 90%;
    transform: rotate(-5deg);
}

.p-mod3{
    opacity: 0;
    transition: 0.5s;
    transition-delay: 0.5s;
    transform: translateY(50px);
}

.in-page.p-mod3{
    opacity: 1;
    transform: translateY(0);
}

.img-mod3{
    width: 300px;
    height: 300px;
    padding: 2px;
}

.img-mod3s{
    object-fit: cover;
    width: 300px;
    height: 300px;
    padding: 2px;
}

.sec2-mod3{
    height: 100vh;
}

.img-sec2-mod3{
    opacity: 0;
    transition: 0.5s;
    transition-delay: 1.5s;
    background: url(/modal3/sec2-mod3.webp) no-repeat;
    background-size: cover;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    /* transform: rotate(20deg); */
}

.in-page.img-sec2-mod3{
    opacity: 1;
    -webkit-animation: rotate-in-2-cw 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: rotate-in-2-cw 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation-delay: 1.5s;
}

@-webkit-keyframes rotate-in-2-cw {
    0% {
      -webkit-transform: rotate(65deg);
              transform: rotate(65deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotate(20deg);
              transform: rotate(20deg);
      opacity: 1;
    }
  }
  @keyframes rotate-in-2-cw {
    0% {
      -webkit-transform: rotate(65deg);
              transform: rotate(65deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotate(20deg);
              transform: rotate(20deg);
      opacity: 1;
    }
  }

.bor-img-sec2-mod3{
    opacity: 0;
    transition: 0.5s;
    transition-delay: 1s;
    width: 400px;
    height: 400px;
    border: solid 2px var(--modm3);
    /* transform: rotate(-20deg); */
}

.in-page.bor-img-sec2-mod3{
    opacity: 0;
    -webkit-animation: rotate-in-2-ccw 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: rotate-in-2-ccw 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation-delay: 1s;
}

@-webkit-keyframes rotate-in-2-ccw {
    0% {
      -webkit-transform: rotate(-65deg);
              transform: rotate(-65deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotate(-20deg);
              transform: rotate(-20deg);
      opacity: 1;
    }
  }
  @keyframes rotate-in-2-ccw {
    0% {
      -webkit-transform: rotate(-65deg);
              transform: rotate(-65deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotate(-20deg);
              transform: rotate(-20deg);
      opacity: 1;
    }
  }

.h-sec2-mod3{
    opacity: 0;
    transition: 0.5s;
    transition-delay: 0.5s;
    font-family: var(--fm3);
    position: absolute;
    font-size: 150px;
    top: 250px;
    left: -100px;
    transform: rotate(-90deg);
}

.in-page.h-sec2-mod3{
    opacity: 1;
}

.p-sec2-mod3{
    opacity: 0;
    transition: 0.5s;
    transition-delay: 0.5s;
    font-family: var(--fs3);
    position: absolute;
    top: 200px;
    right: 50px;
    width: 250px;
    font-size: 20px;
    padding: 5px;
}

.in-page.p-sec2-mod3{
    opacity: 1;
}

.fot-mod3{
    height: 30vh;
    background: var(--modm3);
}

.link-mod3-fot{
    list-style-type: none;
    font-family: var(--fs3);
    font-size: 20px;
    color: var(--mods3);
}

.social-mod3{
    color: var(--mods3);
    font-size: 30px;
}

.firma-foot-mod3{
    font-family: var(--fs3);
    color: var(--mods3);
    letter-spacing: 2px;
}

/* contact form */
.contact-form{
    opacity: 0;
    transition: 0.5s;
    transition-delay: 0.5s;
    background-color: var(--sec);
    padding: 20px 50px;
    border: none;
    border-radius: 30px;
}

.in-page.contact-form{
    opacity: 1;
}

.label-contact{
    color: var(--main);
    font-family: var(--fm);
}

.input-contact,.input-contact:focus{
    background-color: transparent;
    border: none;
    border-bottom: solid 2px var(--main);
    color: var(--main);
    outline: none;
    font-family: var(--fm);
}

.text-contact{
    background-color: transparent;
    border: none;
    border-bottom: solid 2px var(--main);
    height: 90px;
    color: var(--main);
    outline: none;
    font-family: var(--fm);
}

.btn-form{
    background: transparent;
    border: solid 2px var(--main);
    padding: 5px 30px;
    border-radius: 50%;
    color: var(--main);
}

/* tablet */
@media screen and (min-width: 601px) and (max-width: 1024px) {
    /* navbar */
    .menu-canvas{
        margin: 0!important;
        width: 100%!important;
        height: auto!important;
    }
    .canvas-tablet{
        display: none!important;
    }
    .canvas-tablet-yes{
        display: block!important;
        margin-top: 30px;
    }
    .logo-canvas{
        width: 200px;
    }
    /* home */
    .header-home{
        height: auto;
        background-size: contain;
        background-position: bottom;
    }
    .mockup-display{
        margin-bottom: 200px;
    }
    .pres{
        width: 90%;
    }
    .mobile-row{
        display: flex;
        flex-direction: column-reverse;
    }
    .sec2{
        height: auto;
        background-size: contain;
        background-position: bottom;
    }
    .profilo{
        margin-bottom: 100px!important;
    }
    .who-link{
        bottom: 120px;
        left: 145px;
    }
    /* footer */
    .link-footer-item,.link-footer-item > a{
        list-style-type: none;
        color: var(--sec);
        font-family: var(--fm);
        letter-spacing: 2px;
        font-size: 20px;
        text-decoration: none;
    }
    
    .social-canvas-footer{
        font-size: 30px;
        color: var(--sec);
    }
    
    .link-footer-item2{
        list-style-type: none;
        color: var(--sec);
        font-family: var(--fm);
        letter-spacing: 1px;
        font-size: 18px;
        text-decoration: none;
        width: 100%;
        padding-left: 0px;
    }

    .col-fot-tab{
        width: 32%;
    }

    .firma-foot{
        font-size: 20px;
        font-family: var(--fm);
        color: var(--sec);
        letter-spacing: 2px;
        margin-bottom: 20px;
    }
    /* who */
    .header-who{
        height: auto;
    }
    /* portfolio */
    .header-portfolio{
        height: auto;
        background-size: contain;
        background-position: bottom;
    }
    .col-port-tab1{
        margin-bottom: 100px!important;
    }
    .mod2-row-rev{
        flex-direction: column-reverse;
    }
    .mob-col-port1{
        padding: 12px!important;
    }
    /* modal1 */
    .header-mod1{
        height: 100vh;
    }
    .tit-modal1{
        top: 40px;
        right: 40px;
    }
    .step1-mod1{
        bottom: -150px;
        right: -340px;
        transform: rotateX(-5px);
    }
    .activity-mod1{
        margin: 30px;
        width: 300px;
        height: 300px;
    }

    .activity1-mod1{
        margin: 30px;
        margin-bottom: 30px;
        width: 300px;
        height: 300px;
    }

    .activity2-mod1{
        margin: 30px;
        margin-bottom: 30px;
        width: 660px;
        height: 300px;
    }
    .fot-mod1{
        height: auto;
    }
    /* modal 2 */
    .nav-mod2{
        display: none!important;
    }
    .sec1-mod2{
        height: 80vh;
        background-size: cover;
        background-position: top;
        margin-bottom: 150px!important;
    }

    .sec2-mod2{
        height: 80vh;
        margin-bottom: 150px!important;
    }

    .collage1-mod2{
        background: var(--modtrd2);
        width: 350px;
        height: 300px;
        position: absolute;
        bottom: 0px;
        left: 322.4px;
        z-index: 89;
    }

    .collage2-mod2{
        width: 350px;
        height: 300px;
        position: absolute;
        bottom: 0px;
        left: 322.4px;
        z-index: 89;
    }

    .collage3-mod2{
        width: 350px;
        height: 300px;
        position: absolute;
        bottom: 0px;
        left: 322.4px;
        z-index: 89;
    }

    .btn-mod2{
        z-index: 99;
    }

    .row-tab-mod2{
        display: flex;
        justify-content: center!important;
    }

    .img-sec2-mod2{
        background-size: cover;
        background-position: center;
    }

    .img-sec3-mod2{
        background-size: cover;
        background-position: center;
    }

    .link-mod2{
        margin: 10px!important;
        margin-top: 0!important;
        margin-bottom: 0!important;
        font-size: 30px;
    }

    .social-mod2{
        font-size: 40px;
    }

    .firma-foot-mod2{
        font-size: 20px;
    }
    /* modal 3 */
    .head1-mod3{
        background-position: center;
    }

    .carousel{
        width: 80%;
        height: 400px;
        border: solid 2px var(--modm3);
        border-radius: 50%;
    }

    .carousel-inner{
        width: 100%;
    }

    .img-mod3{
        width: 250px;
        height: 250px;
    }
    
    .img-mod3s{
        width: 250px;
        height: 250px;
    }

    .h-sec2-mod3{
        font-size: 150px;
        top: 300px;
        left: -200px;
        letter-spacing: 30px;
    }
    
    .p-sec2-mod3{
        margin-top: 50px!important;
        position: static;
    }

    .sec2-mod3{
        margin-top: 100px;
        height: auto;
    }

    
    .bor-img-sec2-mod3{
        margin-bottom: 50px!important;
        transform: rotate(-10deg);
    }

    .img-sec2-mod3{
        transform: rotate(10deg);
    }

    .link-mod3-fot{
        font-size: 30px;
    }
    
    .social-mod3{
        font-size: 40px;
    }
    
    .firma-foot-mod3{
        font-size: 19px;
    }

    .tab-col-mod3{
        width: 70%;
    }

    .contain-mobile{
        width: 98%;
    }
    .fot-mod3{
        height: auto;
    }
}

/* mobile */

@media screen and (max-width: 600px){
    .menu-canvas{
        margin: 0!important;
        width: 100%!important;
        height: auto!important;
    }
    .logo-canvas{
        width: 200px;
    }
    /* home */
    .header-home{
        height: auto;
        background-size: contain;
        background-position: bottom;
    }
    .mockup-col-mobile{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .mockup-display{
        width: 260px;
        height: 220px;
        margin-bottom: 30px!important;
    }
    .mockup{
        margin: 0!important;
        margin-bottom: 30px!important;
        width: 250px;
        height: 130px;
    }

    .arrow-portfolio{
        display: none;
    }

    .portfolio-link{
        width: 140px;
        position: static;
        margin-bottom: 100px!important;
    }

    .pres{
        width: 90%;
    }
    .mobile-row{
        display: flex;
        flex-direction: column-reverse;
    }
    .sec2{
        height: auto;
        background-size: contain;
        background-position: bottom;
    }
    .profilo{
        width: 300px;
        margin-bottom: 100px!important;
    }
    .who-link{
        bottom: 120px;
        left: 90px;
    }
    .grafic-web{
        width: 300px;
    }
    /* who */
    .header-who{
        height: auto;
    }
    /* portfolio */
    .header-portfolio{
        height: auto;
        background-size: contain;
        background-position: bottom;
    }
    .portfolio-graphic{
        width: 330px;
        height: 230px;
    }
    .col-port-tab1{
        margin-bottom: 100px!important;
    }
    .mod2-row-rev{
        flex-direction: column-reverse;
    }
    .mob-col-port1{
        padding: 12px!important;
    }
    /* footer */
    .mobile-foot-ul{
        display: none!important;
    }
    /* modal1 */
    .header-mod1{
        height: 100vh;
    }
    .tit-modal1{
        text-align: center;
        right: 0px;
    }
    .step1-mod1{
        font-size: 100px;
        bottom: -150px;
        right: 30px;
        transform: rotateX(-5px);
    }
    .p-mod1{
        margin-top: 100px;
    }
    .activity-mod1{
        margin-bottom: 30px;
        width: 300px;
        height: 300px;
    }

    .activity1-mod1{
        margin-bottom: 30px;
        width: 300px;
        height: 300px;
    }

    .activity2-mod1{
        margin-bottom: 30px;
        width: 300px;
        height: 300px;
    }
    .fot-mod1{
        height: auto;
    }
    /* modal 2 */
    .nav-mod2{
        display: none!important;
    }
    .sec1-mod2{
        height: 80vh;
        background-size: cover;
        background-position: top;
        margin-bottom: 150px!important;
    }
    .ev1-mod2{
        text-align: center;
        padding: 20px;
    }
    .sec2-mod2{
        height: 80vh;
        margin-bottom: 150px!important;
    }

    .collage1-mod2{
        background: var(--modtrd2);
        width: 350px;
        height: 300px;
        position: absolute;
        bottom: 0px;
        left: 0;
        z-index: 89;
    }

    .collage2-mod2{
        width: 350px;
        height: 300px;
        position: absolute;
        bottom: 0px;
        left: 0px;
        z-index: 89;
    }

    .collage3-mod2{
        width: 350px;
        height: 300px;
        position: absolute;
        bottom: 0px;
        left: 0px;
        z-index: 89;
    }

    .btn-mod2{
        z-index: 99;
    }

    .row-tab-mod2{
        display: flex;
        justify-content: center!important;
    }

    .img-sec2-mod2{
        background-size: cover;
        background-position: center;
    }

    .img-sec3-mod2{
        background-size: cover;
        background-position: center;
    }

    .link-mod2{
        margin: 10px!important;
        margin-top: 0!important;
        margin-bottom: 0!important;
        font-size: 30px;
    }

    .social-mod2{
        font-size: 40px;
    }

    .firma-foot-mod2{
        font-size: 20px;
    }
    /* modal 3 */
    .head1-mod3{
        background-position: center;
    }
    .head-txt-mod3{
        width: 80%;
    }
    .carousel{
        width: 300px;
        border: solid 2px var(--modm3);
        border-radius: 50%;
    }

    .carousel-inner{
        width: 250px;
    }

    .tab-car{
        display: none;
    }
    .p-mod3{
        padding: 20px;
        width: 100%;
    }
    .img-mod3{
        width: 250px;
        height: 250px;
    }
    
    .img-mod3s{
        width: 250px;
        height: 250px;
    }

    .h-sec2-mod3{
        width: 100%;
        margin-left: 30px;
        margin-bottom: 50px!important;
        text-align: center;
        font-size: 150px;
        position: static;
        transform: rotate(0deg);
        letter-spacing: 2px;
    }
    
    .p-sec2-mod3{
        margin-top: 50px!important;
        position: static;
    }

    .sec2-mod3{
        margin-top: 100px;
        height: auto;
        width: 100%;
    }
    .row-w-mob-mod3{
        width: 100%!important;
    }
    .bor-img-sec2-mod3{
        width: 250px;
        height: 250px;
        margin-bottom: 50px!important;
        transform: rotate(-10deg);
    }

    .img-sec2-mod3{
        width: 300px;
        height: 300px;
        transform: rotate(10deg);
    }

    .link-mod3-fot{
        font-size: 30px;
    }
    
    .social-mod3{
        font-size: 40px;
    }
    
    .firma-foot-mod3{
        font-size: 19px;
    }

    .tab-col-mod3{
        width: 70%;
    }

    .contain-mobile{
        width: 98%;
    }
    .fot-mod3{
        height: auto;
    }
}